html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff8f8;
}

.bg-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 248, 248, 0.95);
}

.text-nav {
  color: #010101;
}

.link-hover {
  text-decoration: none;
  color: #010101;
}

.text-main {
  font-size: 2.75rem;
}

@media (min-width: 640px) {
  .text-main {
    font-size: 3.75rem;
  }
}

.card-color {
  background-color: #fefefe;
  margin: 1rem;
}

.card-bg {
  background-color: #f6f6f6;
  border: none;
}

.btn-card {
  background-color: #010101;
}

.project-section {
  padding-top: 3rem;
}

.footer-section {
  font-size: 1rem;
  padding-top: 4rem;
  height: 30vh;
}

/* Video Container */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Tinggi 70% dari viewport */
}

/* Stretched Video */
.bg-video {
  width: 100%; /* Lebar 100% dari parent (video-container) */
  height: 100%; /* Tinggi 100% dari parent (video-container) */
  object-fit: cover;
  z-index: -1;
}
