body {
  background-color: #fff8f8;
}

.bg-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 248, 248, 0.95);
}

.text-nav {
  color: #010101;
}

.link-hover {
  text-decoration: none;
}

.text-main {
  font-size: 2.75rem;
}

@media (min-width: 640px) {
  .text-main {
    font-size: 3.75rem;
  }
}

.card-color {
  background-color: #fefefe;
  margin: 1rem;
}

.card-bg {
  background-color: #f6f6f6;
  border: none;
}

.btn-card {
  background-color: #010101;
}
